extends ../layout.pug

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';



block content
  section.description.
      Не вызывает сомнений, что консультация с широким активом напрямую зависит от экономической целесообразности принимаемых изменений. Не вызывает сомнений, что начало повседневной работы по формированию позиции способствует повышению качества экономической целесообразности принимаемых изменений. Не вызывает сомнений, что повышение уровня гражданского сознания проверки влечёт за собой интересный процесс внедрения модернизации модели развития.